* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: url(charcoal-pens-copyspace.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}
.navbar {
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  width: 110px;
  cursor: pointer;
  margin-top: 1%;
  margin-left: -2%;
}
ul {
  margin: -4%;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
}
ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: darkslategrey;
  margin-top: -3%;
  transition: 0.4s ease;
}
ul li a:hover {
  color: rgb(230, 104, 59);
}
.info {
  margin-left: 7%;
  margin-top: 6%;
}
.info h1 {
  font-size: 55px;
  color: rgb(67, 63, 59);
}
.info h3 {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 24px;
}
.info span {
  color: rgb(232, 146, 6);
}
.info a {
  text-decoration: none;
  color: #fff;
  background: rgb(36, 32, 28);
  margin: 26px 0px;
  padding: 10px 18px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.2s ease;
}
.info a:hover {
  background: rgb(59, 174, 209);
}
.image{
  width: 30%;
  height: 60%;
  position: absolute;
  right: 100px;
  bottom: 0;

}
.image img{
  position:absolute;
  height: 70%;
  left: 81%;
  transform: translate(-50%);
  bottom: 0;
  transition: left 1s ease;


}
.image:hover .bhai{
  left: 95%;

}
.icons ion-icon{
  margin-left: 7%;
  color: black;
  margin-right: -60px;
  font-size: 40px;
  transition: .3s ease;
  padding: 8px;
  
}
.icons ion-icon:hover{
  color: rgb(59, 174, 209);

} 

